###############################################################################
#### STS ###
###############################################################################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

###############################################################################
#### STS ###
###############################################################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###############################################################################
#### IntelliJ IDEA ###
###############################################################################
.idea
*.iws
*.iml
*.ipr

###############################################################################
#### NetBeans ###
###############################################################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

###############################################################################
#### VS Code ###
###############################################################################
.vscode/

###############################################################################
#### ignore folder
###############################################################################
etc/
out/
.idea/
/target/
test-output/
/.idea/

###############################################################################
#### Eclipse
###############################################################################
.classpath
.project
.settings/
.vscode/launch.json

###############################################################################
#### Maven
###############################################################################
log/
target/

###############################################################################
#### intellij files
###############################################################################
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
*.iml
*.iws

###############################################################################
#### Mac
###############################################################################
.DS_Store

###############################################################################
#### ignore files
###############################################################################
*.db
*.db
*.bak
#*.bat
*.csv
*.dat
*.bak
#*.xml
*.log
*.war
*.nar
*.ear
*.zip
*.rar
*.lst
*.iml
*.meta
*.json
*.html
*.ctxt
*.idea
*.class
*.tar.gz
uiDesigner.xml
extent.html